<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBny1ySrMv8HwjtsI-7nPEWZSoU0dTR3P8</string>
	<key>GCM_SENDER_ID</key>
	<string>376967442199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.y-yu.coffeebrew46.debug</string>
	<key>PROJECT_ID</key>
	<string>brewcoffee46-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>brewcoffee46-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376967442199:ios:935909628aedf48167d152</string>
</dict>
</plist>